@import url("reset.min.css");

:root {
  --font-size: 16pt;

  --spacing-xs: calc(var(--font-size) * 0.5);
  --spacing-sm: calc(var(--font-size));
  --spacing-md: calc(var(--font-size) * 1.5);
  --spacing-lg: calc(var(--font-size) * 2);
  --spacing-xl: calc(var(--font-size) * 4);

  --playlist-width: 660px;

  --shadow-color: 0deg 0% 56%;
  --shadow-elevation-low:
          0px 1px 1.2px hsl(var(--shadow-color) / 0.29),
          0px 3.5px 4.3px -1.8px hsl(var(--shadow-color) / 0.39);
  --shadow-elevation-medium:
          0px 1px 1.2px hsl(var(--shadow-color) / 0.4),
          -0.1px 17.6px 21.5px -1.8px hsl(var(--shadow-color) / 0.54);
  --shadow-elevation-high:
          0px 1px 1.2px hsl(var(--shadow-color) / 0.5),
          -0.1px 19.2px 23.5px -0.9px hsl(var(--shadow-color) / 0.61),
          -0.4px 76px 92.9px -1.8px hsl(var(--shadow-color) / 0.73);
}

.flow > * + * {
  margin-block-start: var(--flow-space, var(--spacing-sm));
}

.page-wrapper {
  padding-block-start: var(--spacing-lg);
  padding-inline: var(--spacing-lg);

  background-color: #CCC;
  color: #333;
}

@media (prefers-color-scheme: dark) {
  .page-wrapper {
    background-color: #333;
    color: #DDD;
  }
}

main {
  max-width: calc(var(--playlist-width) + 300px);

  --flow-space: var(--spacing-md);
}

.playlist {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--spacing-xs);
}

.playlist + .playlist {
  margin-block-start: var(--spacing-xl);
}

.apple-music-iframe {
  border: 0;
  border-radius: 20px; /* The radius of the Apple Music container plus a bit more */
  box-shadow: var( --shadow-elevation-high);
}

